<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form method="POST" th:action="@{/getFormWithObj}" th:object="${student}">
    <label>Name:
        <input type="text" th:field="*{name}">
    </label>
    <label>StudentId:
        <input type="text" th:field="*{id}">
    </label>
    <label>Country:
        <!--<select th:field="*{country}">
            <option th:value="TR">Turkey</option>
            <option th:value="AZ">Azerbaijan</option>
            <option th:value="KZ">Kazakhstan</option>
        </select>-->
        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
        </select>
    </label>
    <label>
        Favorite Programming Language:
        <input type="radio" th:value="go" th:field="*{favProgrammingLanguage}" th:text="Go">
        <input type="radio" th:value="java" th:field="*{favProgrammingLanguage}" th:text="Java">
        <input type="radio" th:value="python" th:field="*{favProgrammingLanguage}" th:text="Python">
    </label>
    <input type="submit" value="Submit">
</form>
</body>
</html>