<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/authenticateTheUser}">
        <label>
            <input type="text" name="username">
        </label>
        <br>
        <label>
            <input type="password" name="password">
        </label>
        <div th:if="${param.error}" style="color: red">
            <p>Invalid username or password!</p>
        </div>
        <div th:if="${param.logout}" style="color: greenyellow">
            <p>You have been logged out!</p>
        </div>
        <input type="submit" value="Login">
    </form>
</body>
</html>